<section class="row">
    <div class="large-4 column">&nbsp;</div>
    <div class="large-6 column content" id="column-content">
        <h1 data-magellan-target="title" id="title">Inside a Payment Channel</h1>
        <p>
            Payment channel is a method to pass a value as little as
            <span class="currency-conversion" data-toggle="currency-conversion-1">1&nbsp;Wei</span>
            <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-1" data-dropdown data-hover="true" data-hover-pane="true">
                = 1&middot;10<sup>-18</sup> ETH
                &asymp; <span class="currency-convert"><span class="amount" data-from="eth" data-to="usd">49</span>&middot;10<sup>-18</sup> USD</span>
            </span>
            instantaneously between two parties.
            Parties are free to transfer funds as many times as they need. The payment channel groups all the little
            transfers so that a blockchain sees two transactions only: opening a channel and closing the channel.
            A fee is paid two times accordingly. It makes an individual transfer inside the channel cheaper
            than a conventional blockchain transaction.
        </p>

        <p>
            A payment channel is an escrow contract of sort. Two parties put lock their funds together in a smart contract on Ethereum, and determine a condition on which funds could be freed.
        </p>

        <p class="text-center">
            <img src="{{root}}assets/img/documentation/inside-a-payment-channel/payment-channel.svg" width="100%" />
        </p>

        <h2 data-magellan-target="meat-world" id="meat-world">In a Meat World</h2>
        <p>
            Bob comes to Alice's bar on a Friday night to celebrate his new product. Bob would like not to pay for each drink separately. Instead, he would like to pay when he is finished for all the drinks at once.
        </p>
        <p>
            Alice opens a tab for Bob, and notes all the drinks there. A <note></note> there plays a role of an &bdquo;I owe you&ldquo; record. When finished, Bob pays the total. That works if Alice trusts Bob: she knows Bob pays the bill.
        </p>

        <p class="text-center">
            <img src="{{root}}assets/img/documentation/inside-a-payment-channel/bar-tab.png" width="100%" />
        </p>

        <p>
            If he is not trustworthy, she could require an upfront payment. Again, that requires trust. There is a risk she does not return the money if Bob have to leave early. Now Bob have to trust Alice.
        </p>

        <p>
            The two could hire Carol for a fee to guarantee that both Alice and Bob are treated all right. That in turn requires them to trust Carol. The levels of trust and comissions could go deep, as happens in the real world with all the banks and insurance companies.
        </p>

        <h2 data-magellan-target="smart-contract" id="smart-contract">Smart Contract</h2>
        <p>
            Instead, Bob and Alice use a blockchain. Basically, the tab system in a meat world operates under a contract:
        </p>

        <ul>
            <li>Every time Bob orders a drink, Alice makes a note,</li>
            <li>When Bob is finished, Alice calcualtes a total, and asks for a payment,</li>
            <li>Bob must pay the total sum.</li>
        </ul>
        <p>
            The latter is a key. In electronic form one can only enforce the total payment if there is something that operates independently of Bob and Alice (=blockchain), and every note is a redeemable. Based on the contract above, Bob and Alice hire blockchain to run a following
            <a href="https://github.com/machinomy/machinomy/blob/master/contracts/Broker.sol">smart contract</a>:
        </p>

        <ul>
            <li>Bob puts a fixed amount of money to an escrow account, that is <em>open</em>, or <em>create a channel</em>.</li>
            <li>Every time Bob orders a drink, Bob sends Alice a note that contains a total sum of ordered drinks&nbsp;&mdash; that happens off chain.</li>
            <li>Alice could redeem a note for a total sum of ordered drinks, and <em>settle</em>, or <em>close the channel</em>, at any time.</li>
            <li>Bob could <em>start settling</em> the channel. Then Alice redeems a note she has received previously during a predefined settling time, and <em>closes the channel</em>.</li>
        </ul>

        <p>The channel moves moves from Open to Settled through an optional Settling states.</p>

        <p class="text-center">
            <img src="{{root}}assets/img/documentation/inside-a-payment-channel/channel-states.svg" width="100%" />
        </p>

        <p>Here we have two things enforced by the smart contract.</p>
        <ol>
            <li>Alice can not get more that it receved via notes&nbsp;&mdash; Alice gets money, or settles the channel, by redeeming the notes only.</li>
            <li>Bob can not pay less than sent via notes, if Alice is ever online during the previously agreed settling time&nbsp;&mdash; Bob initiates settling, but it is Alice who actually closes the channel. Bob can cheat if only Alice can not act during the settling time.</li>
        </ol>

        <h2 data-magellan-target="economy" id="economy">Economy</h2>
        <div class="callout">
            <strong>NB.</strong> ETH&rightarrow;USD conversion is valid as of 2017-03-26. You could redo the calculations using
            <a href="https://docs.google.com/spreadsheets/d/1h4ez-O7QMXs7udATkdYz-QbbwrHgFOXOkvpUDG13yCI/edit?usp=sharing">the spreadsheet</a>.
        </div>
        <p>
            Bob sends a note to Alice directly. It is not a blockchain transaction, so there is no fee.
            It opens a way for micropayments. On Ethereum one could send as little as
            <span class="currency-conversion" data-toggle="currency-conversion-2">1&nbsp;Wei</span>
            <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-2" data-dropdown data-hover="true" data-hover-pane="true">
                = 1&middot;10<sup>-18</sup> ETH
                &asymp; <span class="currency-convert"><span class="amount" data-from="eth" data-to="usd">49</span>&middot;10<sup>-18</sup> USD</span>
            </span>
            at once. If using <a href="http://ethon.consensys.net/ERC20">ERC20</a> tokens, one could make that even less: 1&middot;10<sup>-76</sup> of a token.
        </p>
        <p>The mandatory blockchain transaction fees are imposed twice in an optimistic scenario. One is for opening a channel, another is for closing the channel.</p>

        <p>
            Based on transaction cost, one could figure out economics for the current implementation. It costs
            <span class="currency-conversion" data-toggle="currency-conversion-3">141272&nbsp;gas</span>
            <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-3" data-dropdown data-hover="true" data-hover-pane="true">
                &asymp; 0.00283 ETH
                &asymp; 0.138 USD
            </span>
            to open a channel. To close the channel costs
            <span class="currency-conversion" data-toggle="currency-conversion-4">61065&nbsp;gas</span>
            <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-4" data-dropdown data-hover="true" data-hover-pane="true">
                &asymp; 0.00122 ETH
                &asymp; 0.0598 USD
            </span>. Total cost of operating the channel then is
            <span class="currency-conversion" data-toggle="currency-conversion-total">202337&nbsp;gas</span>
            <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-total" data-dropdown data-hover="true" data-hover-pane="true">
                &asymp; 0.00405 ETH
                &asymp; 0.2 USD
            </span>.
        </p>
        <p>
            Assume a money transfer vessel is efficient if it moves least 10x more value than an imposed fee. Single transfer of Ether between accounts costs (21000 gas)
            <span class="currency-conversion" data-toggle="currency-conversion-send">21000&nbsp;gas</span>
            <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-send" data-dropdown data-hover="true" data-hover-pane="true">
                &asymp; 0.0004 ETH
                &asymp; 0.02 USD
            </span>.
            With that in mind, a payment channel is only feasible if:
        </p>
        <ul>
           <li>
               micropayments in the channel sum up to at least <span class="currency-conversion" data-toggle="currency-conversion-channel-amount">0.04&nbsp;ETH</span>
               <span class="dropdown-pane currency-conversion-dropdown" id="currency-conversion-channel-amount" data-dropdown data-hover="true" data-hover-pane="true">
                   &asymp; 2 USD
               </span>,
           </li>
            <li>
                you have more than 10 transactions over the channel's lifetime.
            </li>
        </ul>
        <p>
            Number of transactions and a total value are interchangeable for economical feasibility. More frequent transactions mean less total value suffice, and vice versa. From that one could limit use cases to the tech to ones with high frequency and low value transactions such as publishing, media, streaming payments, and API calls.
        </p>
    </div>
    <div class="large-2 column" data-sticky-container>
        <nav class="columns sticky show-for-large" data-sticky data-anchor="column-content">
            <ul class="sticky" data-magellan>
                <li class="title"><a href="#title">Inside a Payment Channel</a></li>
                <li><a href="#meat-world">In a Meat World</a></li>
                <li><a href="#smart-contract">Smart Contract</a></li>
                <li><a href="#economy">Economy</a></li>
            </ul>
        </nav>
        <span data-li-id="documentation-li" class="data-nav-li">&nbsp;</span>
    </div>
</section>
