@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.text {
  a {
    border-bottom: 1px solid $anchor-color;
  }
}

.top-bar, .title-bar {
  background-color: map-get($foundation-palette, primary);
  color: white;
}

.logo {
  a {
    color: white;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
  }
}

.expaned.top-bar {
  padding: 0;
  background: map_get($foundation-palette, primary);
}

#main-menu {
  $line-height: 87px;

  .logo a{
    font-family: 'PT Mono', monospace;
    font-size: 20pt;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    display: table-cell;
    height: 87px;
    vertical-align: top;
    width: 1%;
    white-space: nowrap;
    line-height: $line-height;
  }
  ul.menu {
    background: transparent;
    float: left;

    li>a {
      line-height: $line-height;
      padding: 2px 2rem 0 0;
      margin-bottom: -2px;
      color: white;
    }
    @media (max-width: map-get($breakpoints, medium)) {
      li>a {
        line-height: 2.5;
        padding-left: $topbar-padding;
      }
    }

    &.community {
      float: right;
      li:last-child > a {
        padding-right: 0;
      }
    }
  }
}

.landing {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .landing-title {
    margin-top: 1.5rem;

    .toggle {
      border-bottom: 1px dashed map_get($foundation-palette, dark-blue);
      color: map_get($foundation-palette, dark-blue);
      cursor: pointer;

      &.active {
        background-color: map_get($foundation-palette, dark-blue);
        color: white;
        padding: 0.4rem;
        border: none;
      }
    }
  }

  .window {
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    overflow: hidden;

    border: 1px solid #ccc;

    font-family: 'PT Mono', monospace;
    min-height: 16rem;

    .toolbar {
      background: #f0f0f0;
      border-bottom: 1px solid #ccc;
      padding: 0 4px;
      overflow: hidden;
      i {
        background: #f00;
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        float: left;
        margin: 8px;
        margin-right: 0;
        &.btn-close {
          background-color: #ff5f57;
        }
        &.btn-hide {
          background-color: #ffbd2e;
        }
        &.btn-grow {
          background-color: #2ace42;
        }
      }
      .title {
        margin: auto;
        margin-top: 6px;
        font-size: 80%;
        color: #999;
        max-width: 150px;
        font-family: $body-font-family;
        text-align: center;
      }
    }

    pre {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      margin: 0;
      font-family: $font-family-monospace;
    }
  }
}

section.row {
  margin-top: 2rem;

  .row.features {
    p {
      font-weight: bolder;
    }
    img {
      width: 120px;
      height: 120px;
    }
  }
}

.bigger-text {
  font-size: x-large;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', 'PT Serif', serif;
  font-weight: bolder;
}

.column.benefits {
  .title {
    margin-top: 1rem;
    margin-bottom: -0.2rem;
  }
  img {
    padding-left: 15px;
    margin-bottom: .2rem;
    position: relative;
    vertical-align: middle;
  }
  p {
    margin-bottom: .5ex;
  }
}

.footer {
  background: #333333;
  padding: 1rem;
  color: white;

  ul.community.menu, ul.texting.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li:first-child a {
      padding-left: 0;
    }
    li a {
      color: white;

      img {
        margin-right: 0.5rem;
      }
    }
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid map_get($foundation-palette, primary);
    margin: 1em 0;
    padding: 0;
  }
}
