<div class="documentation-shelf">
<section class="row documentation-collection">
    <div class="large-4 column collection-title">
        <h1>Tutorials</h1>
    </div>
    <div class="large-6 column content">
        <h3><a href="/documentation/getting-started">Getting Started</a></h3>
        <p>
            Start exploring machine-to-machine micropayments. The introductory guide will show you
            how to transfer minuscule amount of cryptocurrency instantly via payment channel.
            You will know how to create pay-per-call APIs on Node.JS, buy and sell those APIs.
        </p>
    </div>
    <div class="large-2 column"><span data-li-id="documentation-li" class="data-nav-li">&nbsp;</span></div>
</section>
<section class="row documentation-collection">
    <div class="large-4 column collection-title">
        <h1>Philosophy</h1>
    </div>
    <div class="large-6 column content">
        <h3><a href="/documentation/vision-paper">Micropayments for the Internet of Things: Vision Paper</a></h3>
        <p>
            Our vision of the next Internet of Things platform. We see autonomous devices operate together based
            on economic incentives, that is money. A machine pays per service call. It could not pay in bulk.
            Thus, there is a need for micropayments.
        </p>
    </div>
    <div class="large-2 column"><span data-li-id="documentation-li" class="data-nav-li">&nbsp;</span></div>
</section>
</div>
