<div class="documentation-shelf">
    <section class="row blog-row">
        <div class="large-4 column collection-title">
            <h1>10 January 2017</h1>
        </div>
        <div class="large-6 column content">
            <section class="blog-entry-link">
                <h3><a href="restart.html">(Re)Start of the project</a></h3>
                <p>
                    <a href="restart.html">
                        A rough path lead to the first blog post on Machinomy. It started with a grand and blurry vision of autonomous devices talking to each other...
                    </a>
                </p>
            </section>
        </div>
        <div class="large-2 column">&nbsp;</div>
    </section>
</div>
<span data-li-id="blog-li" class="data-nav-li"></span>
