<div class="documentation-shelf">
    <section class="row blog-row">
        <div class="large-4 column collection-title">
            <h1>10 January 2017</h1>
        </div>
        <div class="large-6 column content">
            <h3><a href="/documentation/getting-started">Inaugural Blog Post</a></h3>
            <p>
                FIXME
            </p>
        </div>
        <div class="large-2 column">&nbsp;</div>
    </section>
</div>
<span data-li-id="blog-li" class="data-nav-li"></span>
