<div class="documentation-shelf">
    <section class="row blog-row">
        <div class="large-4 column collection-title">
            <h1>10 January 2017</h1>
        </div>
        <div class="large-6 column content">
{{#markdown}}# (Re)Start of the project
A rough path lead to the first blog post on Machinomy. It started with a grand and blurry vision of autonomous devices talking to each other. The path wiggled through every major distributed technology, including blockchain, secure multi-party computations, and [Lasp](https://lasp-lang.org/). The vision first obviated human. A single thing clear during all the changes is a recognized need for micropayments.

About a year ago two software engineers felt uncomfortable looking at Internet of Things. Interoperability is a holy grail here, yet it is totally unclear on what ground autonomous devices would communicate and serve each other. How the good can be extracted from the interaction of total strangers? We knew socialism did not work. So, an injection of capitalism was required.

Capitalism for the devices is essentially a payment system that allows transferring a minuscule amount of money instantly. Devices come and go. The payment system is expected to work if the devices are online intermittently. Sounds like Lightning Network.

That was the start. Almost immediately we recognized a reliable distributed communication protocol was required. Did that. By the way implemented a demo for real-time pricing in a microgrid. Then financial applications and permissioned blockchain hyped, while morale got a spill. Okay, we said, and created privacy-aware permissioned blockchain. The result is best described as a proof-of-concept for Corda done right. By that time, morale failed, and the vision collapsed.

Now is a fresh start. No more grandiose plan that requires heavy support systems. A focus is on smaller, nicer things, useable right now. The very first thing is a humble Node.js library `machinomy`. It does one thing: sends micropayments in Ether over HTTP.

Nevertheless, the grand vision remains valid. It resurrected and turned more solid after few months of exposure to the financial industry. Human now finds a central place in a world of autonomous devices. A path to sustainability is there.
{{/markdown}}
        </div>
        <div class="large-2 column">&nbsp;</div>
    </section>
</div>
<span data-li-id="blog-li" class="data-nav-li"></span>
