@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans|Roboto+Slab');
@import './foundation.css';

body {
    font-family: PT Sans,Acumin Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
}

a:focus, a:hover {
    color: inherit;
}