@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans|Roboto+Slab');
@import './foundation.css';

body {
    font-family: PT Sans,Acumin Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
}

a:focus, a:hover {
    color: inherit;
}

pre {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    margin: 0;
    font-family: 'PT Mono', monospace;
    min-height: 22rem;
}

pre>code {
    display: block;
    margin: 0 auto 1rem auto;
    padding: 1rem;
}