<div class="expanded top-bar">

    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <div class="title-bar-title logo">
            <a href="/">
                Machinomy
            </a>
        </div>
        <div class="title-bar-right">
            <button class="menu-icon" type="button" data-toggle></button>
        </div>
    </div>

    <div id="main-menu">
        <div class="row">
            <div class="medium-4 column text-right logo hide-for-small-only">
                <a href="/">Machinomy</a>
            </div>
            <div class="medium-8 column">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="//community.machinomy.com">Community</a></li>
                    <li><a href="/documentation">Documentation</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row landing">
    <div class="large-4 column text-right landing-title">
        Make your device<br />
        <span class="toggle" id="toggle-earn">earn</span> or
        <span class="toggle active" id="toggle-pay">pay</span>
    </div>
    <div class="large-6 column">
        <div class="landing-code">
            <div class="window">
                <div class="toolbar">
                    <i class="btn-close"></i>
                    <i class="btn-hide"></i>
                    <i class="btn-grow"></i>
                    <div class="title">Terminal</div>
                </div>
                <div class="window-content">
                    <div class="example-pay" style="display: none;">
                        <pre>
$ npm install machinomy
$ machinomy buy http://machinomy.com/test
<strong>Have just received 1000 wei.</strong>
<strong>Hello, meat world!</strong>
$ _
                        </pre>
                    </div>
                    <div class="example-reeceive">
                        <pre>
$ cat server.js
<strong>...
app.get("/test", paywall.guard(1000, (req, res) => {
    res.write("Have just received 1000 wei.\n");
    res.send("Hello, meat world!\n");
}));

app.listen(3000, () => {
    console.log("Serving at http://localhost:3000...");
});</strong>
$ node server.js
<strong>Serving at http://localhost:3000...</strong>
_</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-2 column">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="large-4 column">&nbsp;</div>
    <div class="large-6 column bigger-text">
        <p>
            Imagine your car paying for gas, or for a weather report, or for a regular maintenance. Take a look at your fridge. It is going to buy you fresh salad. Machinomy is a decentralised platform that enables economic interaction of the devices.
        </p>
    </div>
    <div class="large-2 column">
        &nbsp;
    </div>
</div>
